<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <title> Hotel User

        </title>
        <link rel="stylesheet" href="style.css">
    </head>
</html>
     <body>
         
    
         <div class=" hotel-login">
             
             <h1>Hotel Login</h1>
             <form>
                 <input type="user" class="input-box" placeholder="Username">
                 <input type="password" class="input-box" placeholder=" Password">
                  <p> <span><input type="checkbox"></span>
                  I agree to the terms of services    
                  </p>
                  <button type="button" class="register-btn">Register Now</button>
                  <hr>
                    
                   
                    <p>Do you have an account?<a href="hotelregister.html">Sign up</a></p>
               
                </form>
              
         </div>
     </body>
