<footer class="pb-3">
  <div class="hr my-3">
  </div>
  <div class="container pt-5">
    <div class="row">
      
      <div class="col-md-6 infolinks">
        <h4 class="py-2">Info Links</h4>
        <p routerLink="/home">
          Home
        </p>
        <p routerLink="/home">
          Hotels
        </p>
        <p routerLink="/bidding">
          Bidding
        </p>
        <p routerLink="/aboutUs">
          About Us
        </p>
        <p routerLink="/contactUs">
          Contact Us
        </p>
      </div>
      <div class="col-md-6">
        <button class="loginBtn" (click)=logout()>
          Logout
      </button>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="hr my-3">
    </div>
    <div class="privacy-policy d-flex justify-content-center w-100">
      <p class="text-align-center" routerLink="/privacy">
        © 2022 SRH University | All right reserved.
      </p>
    </div>
  </div>
</footer>