<!DOCTYPE html>
<html>
    <head>
        <title> User Login

        </title>
        <link rel="stylesheet" href="style.css">
    </head>
</html>
     <body>
         
    
         <div class=" user-login">
             
             <h1>User Login</h1>
             <form>
                 <input type="user" class="input-box" placeholder="Username">
                 <input type="password" class="input-box" placeholder=" Password">
                  <p> <span><input type="checkbox"></span>
                  I agree to the terms of services    
                  </p>
                  <button type="button" class="signup-btn">Login</button>
                  <hr>
                    
                   
                    <p>Do you have an account?<a href="signup.html">Sign up</a></p>
               
                </form>
              
         </div>
     </body>