<!DOCTYPE html>
<html>
    <head>
        <title> User Registration

        </title>
        <link rel="stylesheet" href="style.css">
    </head>
     </html>
     <body>
         <div class="User-registration-box">
                   <h1>User Registration</h1>
                   <form>
                  <label>First Name</label>
                  <input type="text" placeholder="">
                  <label>Last Name</label>
                  <input type="text" placeholder="">
                  <label >Email</label>
                  <input type="email" placeholder="">
                  <label>Password</label>
                  <input type="password" placeholder="">
                  <label>Confirm Password</label>
                  <input type="password" placeholder="">
                  
                  <div  class="circal-form">
                    <span class="circal-form">Gender</span>
                    <div class="category">
                        <input type="radio" name="gender">male
                        <input type="radio" name="gender">female
                        <input type="radio" name="gender">others
    
                     </div>
                  </div>
                  <button type="button" class="register-btn">Register Now</button>
                   </form>
                     <p>By clicking the Sign Up button,you agree to our terms<br>
                    <a href="#">Terms and Condition</a> and <a href="#">Privacy Policy</a>
                    
                    </p>
                    <p>Already have an account?<a href="index.html">Login here</a></p>
               
         </div>
     </body>
     

               

    
