body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #26A4DD ;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}
   


    .user-login


{
   width: 300px;
   box-shadow: 0 0 3px 0 #fff(0, 0, 0, 0.3);
   background:#26A4DD ;
   padding: 20px;
   margin: 8% auto 0;
   text-align: center;
}

.User-registration-box
{
    width: 800px;
    box-shadow: 0 0 3px 0 #fff(0, 0, 0, 0.3);
    background:#26A4DD ;
    padding: 30px;
    margin: 10% auto 0;
    margin-bottom: auto;
    text-align: center;
}
.hotel-login
{
    width: 300px;
   box-shadow: 0 0 3px 0 #fff(0, 0, 0, 0.3);
   background:#26A4DD ;
   padding: 20px;
   margin: 8% auto 0;
   text-align: center;
}

.hotel-login-form h1

{
    color: #26A4DD ;
    margin-bottom: 10px;
}



.Hotel-registration
{
    width: 300px;
    box-shadow: 0 0 3px 0 #fff(0, 0, 0, 0.3);
    background:#26A4DD ;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.Hotel-registration-form h1{
    color: #26A4DD ;
    margin-bottom: 10px;
}
.Hotel-registration-box
{
    width: 1000px;
    
    background:#26A4DD ;
    padding: 8px;
    margin: 10% auto 0;
    margin-bottom: auto;
    text-align: center;
    outline: none;
    border: none;
}


.sign-up-form h1
{
    color: #26A4DD ;
    margin-bottom: 10px;
}
 .input-box
{
  border-radius: 25px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid gray;
  outline: none;
}

.User-registration-form h1
{
    color: #26A4DD ;
    margin-bottom: 10px;
}
 

button
{
    color: white;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px 0;
    border: 1cm;
    
    cursor: pointer;
}
.signup-btn
{
    background-color:#26A4DD;
}
.register-btn
{
    background-color:#26a4dd;
}
.login-btn
{
    background-color: gray;
}
a
{
    text-decoration: none;
}
hr
{
    margin-top: 20px;
    width:80%;
}



   
 

