.loginPop {
  position: absolute;
  margin-top: 56px;
  z-index: 1;
  background-color: snow;
  border-radius: 20px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 32%;
  height: 20vh;
  flex-direction: column;
  box-shadow: 0px 4px 28px 25px #0000005e;

  .loginBtn {
    display: flex;
    flex-direction: row;
    gap: 100px;

    .userLogin {
      background: transparent;
      color: #43aee1;
      width: 100px;
      border-radius: 12px;
      cursor: pointer;
      border: 2px solid #42ade1;
    }

    .hotelLogin {
      background: transparent;
      color: #43aee1;
      width: 100px;
      border-radius: 12px;
      cursor: pointer;
      border: 2px solid #42ade1;
    }
  }
}

.nav {
  display: flex;
  width: 100%;
  box-shadow: 2px 2px 5px 1px #0000002e;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-image: linear-gradient(to right, #26A4DD, #93D3EF);

  .logo {
    width: 20%;
    outline: none;

    img {
      width: 130px;
    }
  }

  ul {
    margin: 0 !important;

    .loginBtn {
      background: transparent;
      color: var(--primary-text-color);
      /* padding: 0.5rem 2.2rem; */
      width: 100px;
      border-radius: 20px;
      cursor: pointer;
      border: 2px solid var(--primary-text-color);
    }
  }

  .nav-links {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      display: block;
    }

    p {
      color: var(--secondary-text-color);
      margin-left: 2px;
      cursor: pointer;
      font-size: larger;
      font-weight: 700;
    }

    p:focus {
      outline: none;
    }

    p:after {
      content: "";
      display: block;
      margin: auto;
      height: 2px;
      width: 0px;
      background: transparent;
      transition: width 0.5s ease, background-color 0.5s ease;
    }

    p:hover:after {
      width: 100%;
      background: #000000;
    }

    p:focus:after {
      width: 100%;
      background: #000000;
    }

    p:hover {
      color: #000000 !important;
    }
  }

  .toggle {
    display: none;
    // margin: 20px;
  }

  .active-bg {
    color: #ffffff !important;
  }

  @media (max-width: 992px) {
    .loginPop{
      position: absolute;
    z-index: 1; 
    background-color: snow;
    border-radius: 20px;
    width: 95%; 
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    margin-left: 0%;
    height: 20vh;
    box-shadow: 0px 4px 28px 25px #0000005e;
    }
    .nav-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: calc(100vh);
      padding: 100px 100px;
      text-align: center;
      overflow: hidden;
      transition: 0.5s;
      background-image: linear-gradient(to right, #26A4DD, #93D3EF);
      transform: translateY(-100%);
    }

    .toggle {
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    .toggle::before {
      content: "";
      position: absolute;
      top: 4px;
      width: 100%;
      height: 2px;
      background-color: #000000;
      z-index: 1;
      box-shadow: 0 10px 0 #000000;
      transition: 0.5s;
    }

    .toggle::after {
      content: "";
      position: absolute;
      bottom: 4px;
      width: 100%;
      height: 2px;
      background-color: #000000;
      z-index: 1;
      transition: 0.5s;
    }
  }
}

.nav.active .toggle::before {
  top: 14px;
  transform: rotate(45deg);
  box-shadow: 0 0 0 #fff;
}

.nav.active .toggle::after {
  bottom: 14px;
  transform: rotate(-45deg);
}

.nav.active .nav-links {
  transform: translateY(0);
}



a {
  text-decoration: none;
  color: var(--secondary-text-color);
}