<header class="nav">
    <div class="container d-flex py-2 justify-content-between">

        <div class="logo" routerLink="/home">
            <img src="" alt="">
        </div>
        <ul class="nav-links ">
            <li class="d-flex">
                <i class="material-icons" style="color: white;">home</i>
                <p routerLink="/home" routerLinkActive="active-bg" (click)="toggle()">
                    Home
                </p>
            </li>
            <li class="d-flex">
                <i class="material-icons" style="color: white;">hotel</i>
                <p routerLink="/home" routerLinkActive="active-bg" (click)="scrollTo(); toggle()">
                    Hotel
                </p>
            </li>
            <li class="d-flex">
                <i class="material-icons" style="color: white;">hub</i>
                <p routerLink="/bidding" routerLinkActive="active-bg" (click)="toggle()">
                    Bidding
                </p>
            </li>
            <li class="d-flex">
                <i class="material-icons" style="color: white;">newspaper</i>
                <p routerLink="/aboutUs" routerLinkActive="active-bg" (click)="toggle()">
                    About Us
                </p>
            </li>
            <li class="d-flex">
                <i class="material-icons" style="color: white;">call</i>
                <p routerLink="/contactUs" routerLinkActive="active-bg" (click)="toggle()">
                    Contact Us
                </p>
            </li>
            <button class="loginBtn" (click)=toggleDisplayDivIf()>
                Login
            </button>
        </ul>

        <!-- POP Message Function -->

        <div class="loginPop" data-aos="fade-down" ata-aos-easing="linear" data-aos-duration="3500"
            *ngIf="!isShowDivIf">
            <div class="loginBtn">
                <div>
                    <button class="userLogin" (click)=userLogin()>User Login</button>
                </div>
                <div>
                    <button class="hotelLogin" (click)=hotelLogin()>Hotel Login</button>
                </div>
            </div>
        </div>
        <div class="toggle" (click)="toggle()"></div>
    </div>
</header>